All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul>
    <%= link_to "#{job.title}", company_job_path(@company, job) %> at <%= job.company.name %>
    <%= link_to "Edit", edit_company_job_path(@company, job) %>
    <button type="button" class="btn btn-danger">
    <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
    </button>
  </ul>
<% end %>
<br>
<% if @contacts.count > 0 %>
  <h3>Contacts:</h3>
  <ul>
    <% @contacts.each do |contact| %>
      <li><strong>Name:</strong> <%= contact.name %>, <strong>Position:</strong> <%= contact.position %>, <strong>Email: </strong><%= contact.email %></li>
    <% end %>
  </ul>
<% end %>

<h3>New Contact:</h3>
<%= form_for [@company, @contact] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control"%>

  <%= f.label :position %>
  <%= f.text_field :position, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.submit %>
<% end %>

<br>
<div class="btn btn-secondary">
  <%= link_to 'Back', :back %>
</div>
  <%= link_to "Companies", companies_path %>
