Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br/>


<br/>

<%= link_to "Back", :back %>
<button type="button" class="btn btn-danger">
<%= link_to "Delete", company_job_path(@job.company, @job), method: "delete" %>
</button>
<%= link_to "All Companies", companies_path %>
