<!-- <% if @job.errors.any? %>
    <h2><%= pluralize(@job.errors.count, "error") %>
        prohibited this record from being saved:</h2>
    <ul>
      <% @job.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %> -->

Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
